

@font-face {
  font-family: Roboto; /* Гарнитура шрифта */
	src: url(fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Exo; /* Гарнитура шрифта */
	src: url(fonts/Exo-Regular.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Exo-Bold; /* Гарнитура шрифта */
	src: url(fonts/Exo-Bold.otf); /* Путь к файлу со шрифтом */
}

body {
	background-color: #fffcf5;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}
/* --------------HEADER---------------- */
header {
	background-image: url(image/header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover; /* для картинки на весь экран */
	margin-left: auto;
	margin-right: auto;
}

header nav {
	border-bottom: 1px solid #6f6666 ;
	height: 120px;
}

header nav .logo {
	margin: 43px 0 0 30px;
}

header nav ul {
	display: flex;
	list-style: none;
	margin: 56px 97px 0 0;
}

header nav ul li {
	margin-right: 43px;
}

div.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* --------------END HEADER---------------- */

/* Links */
a {
	text-decoration: none;
	color: white;
}

a:hover {
	border-bottom: 2px solid #1dde85 ;
	color: #1dde85;
	padding-bottom: 10px;
}

a.logo:hover {
	border-bottom: none;
}
/* End_links */

div.love-foinni {
	max-width: 950px;
	margin: 0 auto;
/*	padding-top: 260px;*/
	height: 683px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

div.love-foinni h1 {
	color: white;
	text-align: center;
	font-family: "Exo", sans-serif;
	font-size: 48px;
}

div.love-foinni h1 b {
	color: #1dde85;
	font-family: "Exo-Bold", sans-serif;
}

div.love-foinni p {
	color: white;
	font-size: 18px;
	text-align: center;
	line-height: 2em;
	padding-top: 20px;
}

/* SECTION */
section.main {
	max-width: 1170px;
	margin: 0 auto;
}

section.main h2.wellcome-to-foinni {
	text-align: center;
	color: #454546;
	padding-top: 120px;
}

section.main h2 span {
	color: #1dde85;
}

section.main p {
	color: #8f8e91;
	font-size: 18px;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 80px;
	line-height: 2em;
}

/* JOB-BLOCKS */

#job-blocks {
	display: flex;
	justify-content: space-between;
	flex-flow: row;
	flex-wrap: wrap;
	text-align: center;
} 

.job-development,
.job-respons,
.job-clear-design,
.job-graph-design,
.job-photo,
.job-photo-edit {
	width: 357px;
	height: 250px;
	box-sizing: border-box;
	border: 1px solid #8f8e91;
	color: #454546;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
}



#job-blocks,
.job-development,
.job-respons,
.job-clear-design {
	margin-bottom: 50px;
}

/* ACTION JOB-BLOCKS */

.job-development:hover,
.job-respons:hover,
.job-clear-design:hover,
.job-graph-design:hover,
.job-photo:hover,
.job-photo-edit:hover {
	box-sizing: border-box;
	border: 2px solid #1dde85;
	color: #1dde85;
}
/*-----------------------BG IMAGE IN BLOCKS-JOB--------------*/
.job-development {
	background-image: url(image/job-icon/CODE.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
}

.job-development:hover {
	background-image: url(image/job-icon/CODE-a.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
}

.job-respons {
	background-image: url(image/job-icon/IMAC.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
}

.job-respons:hover {
	background-image: url(image/job-icon/IMAC-a.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
}

.job-clear-design {
	background-image: url(image/job-icon/WIFI.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
}

.job-clear-design:hover {
	background-image: url(image/job-icon/WIFI-a.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
}

.job-graph-design {
	background-image: url(image/job-icon/VIEW.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
}

.job-graph-design:hover {
	background-image: url(image/job-icon/VIEW-a.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
}

.job-photo {
	background-image: url(image/job-icon/CAMERA.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
}

.job-photo:hover {
	background-image: url(image/job-icon/CAMERA-a.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
}

.job-photo-edit {
	background-image: url(image/job-icon/BRIGHTNESS.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
}

.job-photo-edit:hover {
	background-image: url(image/job-icon/BRIGHTNESS-a.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
}
/* ----------- END BG IMAGE IN BLOCK-JOB ----------------- */

#job-blocks span {
	color: #8f8e91;
}

#job-blocks h3 {
	padding-top: 20px;
	padding-bottom: 20px;
}

/*------------------------END JOBS BLOCKS-------------------*/

/*----------------------------MEET-US-----------------------*/

h2 {
	text-align: center;
	color: #454546;
	padding-top: 75px;
	padding-bottom: 60px;
}
/*-----------------Blocks with artist---------------*/
div.boxes-meet-us {
	display: flex;
	justify-content: space-between;
	flex-flow: row;
	flex-wrap: nowrap;
}

div.boxes-meet-us .box-1,
div.boxes-meet-us .box-2,
div.boxes-meet-us .box-3,
div.boxes-meet-us .box-4 {
	width: 274px;
	height: 390px;
	display: flex; /*  */
	justify-content: center;
	align-items: center;
}


/*
div.boxes-meet-us .box-1:hover,
div.boxes-meet-us .box-2:hover,
div.boxes-meet-us .box-3:hover,
div.boxes-meet-us .box-4:hover {
	background-color: #1dde85;
}
*/
/* ФОТО БОМЖЕЙ */
div.boxes-meet-us .box-1 {
	background-image: url(image/meet-us/box1-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

div.boxes-meet-us .box-2 {
	background-image: url(image/meet-us/box2-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

div.boxes-meet-us .box-3 {
	background-image: url(image/meet-us/box3-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

div.boxes-meet-us .box-4 {
	background-image: url(image/meet-us/box4-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
/*------КОНЕЦ_ФОТО БОМЖЕЙ--------*/



/* ФОН ДЛЯ ФИО и ПРОФЕССИИ */
.boxes-meet-us .spans .span-boxes {
	position: absolute;
	display: block;
	left: 0px;
	bottom: 0px;
	background-color: rgba(69,69,70,0.94);
	width: 246px;
	height: 68px;
	text-align: center;
	margin-bottom: 16px;
	margin-left: 14px;
}
/* КОНЕЦ_ФОН ДЛЯ ФИО и ПРОФЕССИИ */

#meet-us .span-boxes-soc {
	position: absolute;
	display: none;
	color: #fffcf4;
	text-align: center;
	background-color: rgba(29,222,133,0.9);
	height: 100%;
	width: 100%;
}

/* Работаем с ссылками */
#meet-us div.boxes-meet-us .spans {
	position: absolute;
	width: 274px;
	height: 390px;
	display: block;
}
div.boxes-meet-us .spans:hover {
	border: none;
	padding-bottom: 0px;
}

#meet-us div.boxes-meet-us .spans:hover .span-boxes-soc {
	display: block;
}

#meet-us div.boxes-meet-us .spans:hover .span-boxes {
	display: none;
}

/* Цвет ФИО и профессии */
#meet-us .span-boxes p,
#meet-us .span-boxes-soc p {
	padding: 0px;
	font-size: 14px;
	color: #fffcf4;
	line-height: 1.5em;
}

#meet-us .span-boxes h4,
#meet-us .span-boxes-soc h4 {
	padding-top: 10px;
	font-size: 18px;
	color: #fffcf4;
}
/* КОНЕЦ_Цвет ФИО и профессии */

#meet-us .boxes-meet-us .span-boxes-soc h4 {
	font-size: 18px;
	padding-top: 180px;

}

#meet-us .boxes-meet-us .span-boxes-soc p {
	font-size: 14px;
	line-height: 1.5em;
	padding-top: 0px;
	padding-bottom: 0px;

}

/* SOCIAL-ICON FOR SPAN-BOXES-SOC */



.soc-icon {
	width: 100%;
	height: 38px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	margin-top: 93px;
	display: none; 
}

#meet-us div.boxes-meet-us .spans:hover .soc-icon {
	width: 100%;
	height: 38px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	margin-top: 305px;
	display: flex; 
	position: absolute;
	justify-content: center;
	align-items: center;
}

.soc-icon a{
	width: auto;
	height: auto;
	position: relative;
	display: block;
	border-bottom: none;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

.soc-icon a:hover{
	text-decoration: none;
	padding-bottom: 0px;
}

/*---------------------------*/
/* END-----MEET US----BLOCKS */
/*---------------------------*/


/*---------------------------*/
/* --START_OUR_LATESTWORKS-- */
/*---------------------------*/
.our-latest-works nav ul {
	list-style: none;
	max-width: 570px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 0px auto;
	margin-bottom: 50px;
}

.our-latest-works nav ul li {
	max-width: 570px;
}

.our-latest-works nav ul li a{
	color: #434243;
	font-size: 18px;
}

.our-latest-works nav ul li a:hover{
	border-bottom: 2px solid #1dde85 ;
	color: #1dde85;
	padding-bottom: 10px;
}

/* IMAGE OUR LATEST WORKS */

.our-latest-works .image-latest-works {
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.our-latest-works .image-latest-works img {
	margin-bottom: 50px;
	border-style: none;
}

.our-latest-works .see-more {
	margin: auto;
	font-size: 18px;
	color: #fffcf4;
	display: block;
	width: 195px;
	height: 50px;
	background-color: #1dde85;
	margin-bottom: 36px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
}

.our-latest-works .see-more:hover {
	border-bottom: 0px;
	padding-bottom: 0px;
	color: #fffcf4;
	opacity: 0.8;
}

/*---------------------------*/
/* --END_OUR_LATESTWORKS-- */
/*---------------------------*/

/* START_SECTION-OUR_PRICING-PLANS */

.our-pricing {
	display: block;
	max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 127px;
}

.price-blocks {
	text-align: center;
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.price-block {
	display: block;
	max-height: 460px;
	max-width: 267px;
	text-align: center;
}

.price-block h5 {
	font-size: 14px;
	color: #8f8e91;
	line-height: 68px;
}

.price-block:hover h5 {
	color: #1dde85;
}

.price-block .price-package {
	width: 267px;
	height: 392px;
}

.price-block:hover .price-package {
	border: 1px solid #1dde85;
	box-sizing: border-box;
}

.price-block .price-package p {
	font-size: 18px;
	color: #454546;
	line-height: 90px;
	border: 1px solid #454546;
	box-sizing: border-box;
}

.price-block:hover .price-package p {
	font-size: 18px;
	color: #fffcf4;
	line-height: 90px;
	border: none;
	background-color: #1dde85;
	border-bottom: 1px solid #1dde85;
	padding: 0;
	margin: 0;
}

.price-block .price-package p b {
	font-size: 36px;
	font-weight: 600;
}

.price-block .price-package p b sup {
	font-size: 24px;
}

.price-block .price-package ul {
	list-style: none;
	margin-top: 20px;
	margin-bottom: 30px;
	line-height: 36px;
	font-size: 14px;
	padding: 0;
}

.price-block .price-package ul li {
	color: #8f8e91;
}

.price-block .price-package a {
	display: block;
	width: 100px;
	line-height: 40px;
	border: 1px solid #454546;
	color: #454546;
	margin: 0 auto;
}

.price-block:hover .price-package a {
	background-color: #1dde85;
	border: none;
	color: #fffcf4;
}

.price-block .price-package a:hover {
	border: none;
	padding: 0px;
	color: #fffcf4;
}

/* END OUR PRICING PLANS */

/* START CONTACT US */

.say-hi {
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	background-image: url(image/contact-us/bg-contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.say-hi h2 {
	color: #fffcf4;
}

.say-hi form {
	text-align: center;
	color: #fffcf4;
	margin: 0 auto;
	max-width: 895px;
}

.say-hi form input[type="text"],
.say-hi form input[type="email"] {
	width: 435px;
	line-height: 50px;
	color: #fffcf4;
	font-size: 14px;
	border: 1px solid #fffcf4;
	box-sizing: border-box;
	padding: 0 20px 0 20px;
	background: none;
	font-family: "Roboto", sans-serif;
	margin-bottom: 28px;
}

.say-hi input::placeholder,
.say-hi textarea::placeholder {
	color: #fffcf4;
}

.say-hi form input[type="email"] {
	margin-left: 21px;
}

.say-hi form textarea {
	width: 894px;
	height: 215px;
	font-size: 14px;
	color: #fffcf4;
	padding: 0 20px 0 20px;
	border: 1px solid #fffcf4;
	box-sizing: border-box;
	line-height: 50px;
	background: none;
	font-family: "Roboto", sans-serif;
}

.say-hi form .send-button-say {
	width: 195px;
	line-height: 50px;
	background-color: #1dde85;	
	color: #fffcf4;
	font-size: 18px;
	border: none;
	margin-top: 30px;
	margin-bottom: 38px;
}

.say-hi form .send-button-say:hover {
	width: 195px;
	line-height: 50px;
	background-color: #3ceb9a;	
	color: #fffcf4;
	font-size: 18px;
	border: none;
}

footer {
	display: block;
	background-color: #0b0a0a;
}

footer .footer-container {
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 40px;
	display: flex;
	flex-direction: row;
	padding-bottom: 70px;
}

footer .ft-about-us {
	display: block;
	max-width: 328px;
	padding-right: 108px;
}

footer .ft-about-us h3,
footer .ft-quick-links h3,
footer .ft-find-us-on h3 {
	font-size: 18px;
	/*line-height: 36px;*/
	color: #ffffff;
	margin-bottom: 20px;
}

footer .ft-about-us p {
	display: block;
	font-size: 14px;
	line-height: 30px;
	color: #8f8e91;
}

footer .footer-container .ft-quick-links {
	max-width: 346px;
	margin-right: 148px;
}

footer .footer-container .ft-quick-links .ul-quick-links {
	max-width: 346px;
	display: flex;
	flex-direction: row;
}

footer .footer-container .ft-quick-links ul {
	list-style: none;
	width: 105px;
	padding-left: 0;
	margin: 0;
}

footer .footer-container .ft-quick-links ul a{
	text-decoration: none;
	color: #8f8e91;
	line-height: 30px;
	font-size: 14px;
}

footer .footer-container .ft-quick-links ul a:hover{
	text-decoration: none;
	padding-bottom: 0px;
	color: #1dde85;
	border-bottom: none;
}

footer .footer-container .ft-find-us-on {
	display: block;
}

footer .footer-container .ft-find-us-on .find-links {
	display: block;
	padding: 0px;
	font-size: 0;
}

footer .footer-container .ft-find-us-on .find-links a{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 8px;
}

footer .footer-container .ft-find-us-on .find-links a:hover{
	border: 0px;
	padding-bottom: 0px;
}

footer .footer-container .ft-find-us-on .find-links .fb-link{
	background: url(image/footer/fb-def.png) no-repeat;
}

footer .footer-container .ft-find-us-on .find-links .fb-link:hover{
	background: url(image/footer/fb-active.png) no-repeat;
}

footer .footer-container .ft-find-us-on .find-links .twt-link{
	background: url(image/footer/twt-def.png) no-repeat;
}

footer .footer-container .ft-find-us-on .find-links .twt-link:hover{
	background: url(image/footer/twt-active.png) no-repeat;
}

footer .footer-container .ft-find-us-on .find-links .gplus-link{
	background: url(image/footer/gplus-def.png) no-repeat;
}

footer .footer-container .ft-find-us-on .find-links .gplus-link:hover{
	background: url(image/footer/gplus-active.png) no-repeat;
}

footer .footer-container .ft-find-us-on .find-links .linked-link{
	background: url(image/footer/linked-def.png) no-repeat;
	margin-right: 0px;
}

footer .footer-container .ft-find-us-on .find-links .linked-link:hover{
	background: url(image/footer/linked-active.png) no-repeat;
}

.ft-find-us-on form input[type="email"] {
	width: 250px;
	line-height: 40px;
	color: #838484;
	font-size: 14px;
	border: 1px solid #838484;
	box-sizing: border-box;
	padding: 0 10px 0 10px;
	background: none;
	font-family: "Roboto", sans-serif;
	margin-bottom: 17px;
}

.ft-find-us-on input::placeholder {
	color: #838484;
}

.ft-find-us-on form .subscribe-button {
	display: block;
	width: 105px;
	line-height: 37px;
	background-color: #1dde85;	
	color: #fffcf4;
	font-size: 18px;
	border: none;
}

.ft-find-us-on form .subscribe-button:hover {
	width: 105px;
	line-height: 37px;
	background-color: #3ceb9a;	
	color: #fffcf4;
	font-size: 18px;
	border: none;
}